<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1284,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1284,724}}</string>
                <key>sourceSize</key>
                <string>{1284,724}</string>
            </dict>
            <key>boy_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,724},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>jumpnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,724},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>jumpon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,724},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mid01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,925},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>mid02.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,925},{170,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,105}}</string>
                <key>sourceSize</key>
                <string>{170,105}</string>
            </dict>
            <key>mid03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,925},{148,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,289}}</string>
                <key>sourceSize</key>
                <string>{148,289}</string>
            </dict>
            <key>mid04.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,925},{436,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,362}}</string>
                <key>sourceSize</key>
                <string>{436,362}</string>
            </dict>
            <key>mid05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,925},{268,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,306}}</string>
                <key>sourceSize</key>
                <string>{268,306}</string>
            </dict>
            <key>mid06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,925},{433,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,341}}</string>
                <key>sourceSize</key>
                <string>{433,341}</string>
            </dict>
            <key>returnnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,925},{220,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,129}}</string>
                <key>sourceSize</key>
                <string>{220,129}</string>
            </dict>
            <key>returnon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1287},{260,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,162}}</string>
                <key>sourceSize</key>
                <string>{260,162}</string>
            </dict>
            <key>road00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1287},{1286,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1286,148}}</string>
                <key>sourceSize</key>
                <string>{1286,148}</string>
            </dict>
            <key>runnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1287},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>runon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,1287},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>wood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1287},{138,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,108}}</string>
                <key>sourceSize</key>
                <string>{138,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamescene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16350d247d92f2e61b967aba6ca3fa55:67a3a971d41df75460a618c04d5072bf:9108cc8862abedea0127b8e99348b9a3$</string>
            <key>textureFileName</key>
            <string>gamescene.png</string>
        </dict>
    </dict>
</plist>
