<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bean01.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,0},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,0},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave01.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave02.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave03.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,203},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>ceyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>ceyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>ceyes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>cmouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>cmouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,0},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>cuber01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,586},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber02.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,586},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,586},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,586},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,586},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,586},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber08.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,796},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cubershadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>flame1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,796},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,796},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,796},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,796},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,796},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,796},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1016},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,406},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,586},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,586},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1016},{1000,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,600}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>sr_f_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,0},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,0},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triouter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,203},{171,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,168}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>trishadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{137,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,23}}</string>
                <key>sourceSize</key>
                <string>{137,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamescene_object.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba6d79781d0438738f0f32ad1a41b99c:3984c2f981e4c7a875a0063c5337be68:de61afb6c5a9ed4c0fdc3740ae29b32f$</string>
            <key>textureFileName</key>
            <string>gamescene_object.png</string>
        </dict>
    </dict>
</plist>
