<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,742},{1284,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1284,724}}</string>
                <key>sourceSize</key>
                <string>{1284,724}</string>
            </dict>
            <key>cuberbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberslider.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>jumpnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,0},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>jumpon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,0},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mid01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,112},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>mid02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{170,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,105}}</string>
                <key>sourceSize</key>
                <string>{170,105}</string>
            </dict>
            <key>mid03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,112},{148,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,289}}</string>
                <key>sourceSize</key>
                <string>{148,289}</string>
            </dict>
            <key>mid04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{436,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,362}}</string>
                <key>sourceSize</key>
                <string>{436,362}</string>
            </dict>
            <key>mid05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,401},{268,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,306}}</string>
                <key>sourceSize</key>
                <string>{268,306}</string>
            </dict>
            <key>mid06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,401},{433,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,341}}</string>
                <key>sourceSize</key>
                <string>{433,341}</string>
            </dict>
            <key>replaybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>road00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{1286,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1286,148}}</string>
                <key>sourceSize</key>
                <string>{1286,148}</string>
            </dict>
            <key>runnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,0},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>runon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,0},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>startnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{523,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,295}}</string>
                <key>sourceSize</key>
                <string>{523,295}</string>
            </dict>
            <key>starton.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,401},{525,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,305}}</string>
                <key>sourceSize</key>
                <string>{525,305}</string>
            </dict>
            <key>wood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,0},{138,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,108}}</string>
                <key>sourceSize</key>
                <string>{138,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamescene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6968efbd800e4a6441233eca5bd45887:10e76e6ee819f3566923be13df62fe1d:9108cc8862abedea0127b8e99348b9a3$</string>
            <key>textureFileName</key>
            <string>gamescene.png</string>
        </dict>
    </dict>
</plist>
