<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bean01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,348},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean02.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,348},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean03.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,348},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean04.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,348},{125,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,199}}</string>
                <key>sourceSize</key>
                <string>{125,199}</string>
            </dict>
            <key>bean1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,348},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,551},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>ceyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,0},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>ceyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>ceyes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,0},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkboxon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>checkon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cmouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>cmouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,0},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>cuber01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,551},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,551},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,551},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,761},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber05.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,761},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,761},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber07.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,761},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber08.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,761},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cubershadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,0},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>flame1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,761},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,761},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,761},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,981},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,981},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,981},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,981},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,981},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,168},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,348},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,348},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>loadingbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{130,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,17}}</string>
                <key>sourceSize</key>
                <string>{130,17}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderballnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sliderballpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sr_f_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,0},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,0},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triouter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,0},{171,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,168}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>trishadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,0},{137,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,23}}</string>
                <key>sourceSize</key>
                <string>{137,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene101.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdae853590c131a290278467f2125d9c:6b9b43698851270fae8a3cef4f6c4cf2:9a04fb8b08cf709da36490be6b44d9f8$</string>
            <key>textureFileName</key>
            <string>scene101.png</string>
        </dict>
    </dict>
</plist>
