<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,305},{1284,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1284,724}}</string>
                <key>sourceSize</key>
                <string>{1284,724}</string>
            </dict>
            <key>startnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{523,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,295}}</string>
                <key>sourceSize</key>
                <string>{523,295}</string>
            </dict>
            <key>starton.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,0},{525,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,305}}</string>
                <key>sourceSize</key>
                <string>{525,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startscene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7effefb7b15b0176316fd19e3c0d48b6:969b0905c881ef8fb2b51bafa8804579:dad6dcbf717a5681af4ced4b8417ff90$</string>
            <key>textureFileName</key>
            <string>startscene.png</string>
        </dict>
    </dict>
</plist>
